# Understanding Joins

### Introduction

In this lesson, we'll talk about one of the more costly SQL operations, which is performing a join.  Let's get into it.

## The brute force approach

As we know, with a join, SQL is lining up the values in one columns with the values of another to align the rows.

But how does something like this work under the hood?  The brute force approach is to use a nested loop.

For example, if we are joining customers and orders, and we have the following values:

* customers.customer_id 
    * 1 
    * 2
    * 4
    * 6

* orders.customer_id 
    * 1
    * 4
    * 6

Our database enginer (MYSQL or Postgres) would perform the join by starting with the first value in customers.customer_id (1), and then loop through the `orders.customer_id` data looking for all of the corresponding values.   

As we would guess, the cost of performing this is the `n*k` where n and k are the lengths of our two different columns.  Essentially, we are performing a nested loop, which is bad news bears -- as we know. 

Because of this an execution planner, will often only use a nested loop if the dataset it is joining is small (like 10 records).  Otherwise, it will choose one of the other techniques.

### How Joins Normally Work

To avoid a nested loop, modern databases employ one of two different strategies: 
    
1. A sort and merge join (AKA merge join) or
2. A hash join - which postgres uses

Let's take them one by one.

#### 1.  Sort and Merge

With a sort and merge join, both of the joined tables are first sorted by the joining key, and then merged.  For example, if we are joining customers and orders, and we have the following values:

* customers.customer_id 
    * 1 
    * 2
    * 4
    * 6

* orders.customer_id 
    * 1
    * 4
    * 6
    
SQL will do the following.  First, SQL will start with the first `customers.customer_id` value, 1, and then go to the first `orders.customer_id` value.  There is a match, so it lines up the two rows -- aka the merge.  Moving to the second record with customers.customer_id = 2, immediately it sees that there orders.customer_id does not have a 2 as the next highest number is 4.

Because postgres automatically indexes foreign and primary keys, the two join columns are probably already properly sorted, and so the only real step is the merge operation.  

So in certain databases, merge joins are the go to operation  (like MYSQL) and pretty fast.

### Hash joins

Hash joins are actually the go to technique by postgres.  With a hash join, postgres will *first hash* the values of the smaller table.  Then it will proceed through each the values of the second table looking, and with each value with look for the corresponding valus in the hash.

Let's take our list of values from above.

* customers.id, name
    * 1 sam
    * 2 bob
    * 4 tina
    * 6 clayton

* orders.customer_id, product_name
    * 1               phone
    * 4               camera
    * 6               watch
    * 1               tshirt

This time, the `orders.customer_id` column will be hashed because it's the smaller table.  Then postgres will scan through the customers table looking for a match.

In [41]:
orders_customer_id = {1: [{'customer_id': 1, 'product': 'phone'}, {'customer_id': 1, 'product': 'tshirt'}],
                     4: [{'customer_id': 4, 'product': 'camera'}],
                     6: [{'customer_id': 6, 'product': 'watch'}]}

* Sequential Scan through the data

In [32]:
customers = [{'id': 1, 'name': 'sam'},
             {'id': 2, 'name': 'bob'},
             {'id': 4, 'name': 'tina'},
             {'id': 6, 'name': 'clayton'}]

And then for each customer, we find the corresponding values to join to in our hash table.

In [34]:
first_customer = customers[0] # {'id': 1, 'name': 'sam'}
first_customer_id = first_customer['id']
first_customer_id

1

In [37]:
matching_orders = orders_customer_id[first_customer_id]
matching_orders

[{'customer_id': 1, 'product': 'phone'},
 {'customer_id': 1, 'product': 'tshirt'}]

And so we just join the customer information of id and name to each of these orders.

In [42]:
[{'customer_id': 1, 'product': 'phone', 'id': 1, 'name': 'sam'},
 {'customer_id': 1, 'product': 'tshirt', 'id': 1, 'name': 'sam'}]

[{'customer_id': 1, 'product': 'phone', 'id': 1, 'name': 'sam'},
 {'customer_id': 1, 'product': 'tshirt', 'id': 1, 'name': 'sam'}]

And we would move through each of our the rows in our customers table following this procedure -- accessing the hashed orders.customer_id to find the corresponding information.

Here, the cost of this procedure is low if the hashed table's column can be fit into memory, but is significantly higher if needs to be written to disk.

In terms of the complexity, we can complete it in 2n.

### Seeing it in action

Ok, so a hash join is the default procedure that postgres will procede with, and we can see it perform this.

For example, let's consider the following query: 

`select * from movie_actors join actors on actors.id = movie_actors.actor_id;`

And assume the primary key `actors.id` is indexed, but the `movie_actors.actor_id` is not.

Postgres will first hash the customers.last_name column:

```python
customers_last_name_hash = {'smith': [6, 8], 'cassel': [12, 15]}
```

and then look for a sequential scan of the orders `customer_last_name` column.

Notice that if we perform a join, postgres first performs a squential scan of the movie_actors table to construct the dictionary, and then moves through the actors table to find the lookup each value and find the matching rows.

<img src="./explain_hash.png" width="100%">

### Summary 

In this lesson, we saw how joins work.  The primary technique is a sort and merge where the data is first sorted and then the algorithm looks for a match.  

To speed up joins, only load tables that are necessary, reduce the data as much as possible before joining, join on int columns (or indexed columns like foreign keys and primary keys), and try to have the smaller table on the left side.

### Resources

[Dats with Bert](https://bertwagner.com/posts/hash-match-join-internals/)

[Verica - Hash join vs Merge Join](https://www.vertica.com/docs/9.2.x/HTML/Content/Authoring/AnalyzingData/Optimizations/HashJoinsVs.MergeJoins.htm)

[Joins on Postgres](https://www.cybertec-postgresql.com/en/join-strategies-and-performance-in-postgresql)